.footer {
  background-color: $black-white-color;
}

.footer__container {
  padding-top: 8.4rem;
}

.footer__icon {
  display: flex;
  justify-content: space-between;
  padding-top: 5.1rem;
  padding-bottom: 9.5rem;
}

.last__footer {
  font-family: Space Grotesk;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
}
.footer__nav {
}
.ul__list {
  display: flex;
  gap: 3.2rem;
}

.message {
}
.message__container {
  background-color: $black-white-color;
  padding-top: 8.4rem;
  display: flex;
  justify-content: space-between;
}
.message__left {
  padding-right: 22rem;
}
.message__contact {
  font-family: Space Grotesk;
  font-size: 88px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.5px;
}
.message__description {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  width: 44.5rem;
  padding-top: 3.6rem;
  padding-bottom: 22.1rem;
}
.message__right {
}

.contact__message {
  padding-top: 3.2rem;
  padding-left: 32.5rem;
  a {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    text-align: left;
    color: #fff;
    &:hover {
      color: $green-color;
    }
  }
}
.contact__hr {
  width: 12rem;
  height: 0.3rem;
  background-color: $green-color;
  border: none;
}

.link__hr {
  width: 44.5rem;
  color: $white-color;
}

.message__link {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: $grey-color;
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  &1 {
    color: $grey-color;
    padding-top: 3.2rem;
    color: $white-color;
    padding-bottom: 8.1rem;
  }
  display: block;
  color: $white-color;
}

.message__link:first-child {
  padding-top: 1rem;
}

.message {
}
.message__container {
  background-color: $black-white-color;
  padding-top: 8.4rem;
  display: flex;
  justify-content: space-between;
}
.message__left {
  padding-right: 22rem;
}
.message__contact {
  font-family: Space Grotesk;
  font-size: 88px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2.5px;
}
.message__description {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  width: 44.5rem;
  padding-top: 3.6rem;
  padding-bottom: 22.1rem;
}
.message__right {
}

.contact__message {
  padding-top: 3.2rem;
  a {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    text-align: left;
    color: #fff;
    &:hover {
      color: $green-color;
    }
  }
}
.contact__hr {
  width: 12rem;
  height: 0.3rem;
  background-color: $green-color;
  border: none;
}

.link__hr {
  width: 44.5rem;
  color: $white-color;
}

.message__link {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  &1 {
    padding-top: 3.2rem;
    color: $white-color;
    padding-bottom: 8.1rem;
  }
  display: block;
  color: $white-color;
}

.message__link:first-child {
  padding-top: 1rem;
}
